@import url('https://fonts.googleapis.com/css?family=Bitter:700');

.color-blue {
    color: #0E6EB8 !important;
}

.weak-skill {
    color: rgba(0, 0, 0, .4);
}

.pointing {
    border-bottom: none !important;
}

.language-label{
    font-size: 0.7em;
    font-weight: 100;
}

.language-bullet{
    font-size: 1.2rem;
}

.Python{
    color: #016936;
}

.Django{
    color: #008080;
}

.C\+\+{
    color: #FF1493;
}

.Android{
    color: #A52A2A;
}

.Javascript{
    color: #FE9A76;
}

.h150{
    height: 150px;
}

.h130{
    height: 130px
}

.h100{
    height: 100px;
}

.designation-label{
    font-size: 1.5rem !important;
    margin-top: 20px;
    font-weight: 700;
}

.mastfoot h1.ui.header {
    font-size: 3rem;
    margin-top: 25vh;
    font-family: "Bitter";
}

.mastfoot .list .label{
    margin-top: 30px;
}

.mastfoot .list .label {
    margin-left: 10px;
    margin-right: 10px;
}

.hidden.menu {
    display: none;
}

.ui.segment {
    min-height: 105vh;
    padding: 1em 0em;
}

.masthead h1.ui.header {
    margin-top: 25vh;
    margin-bottom: 0em;
    font-family: "Bitter";
    font-size: 5.4em;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
    border-bottom: none;
}

@media only screen and (max-width: 745px) {

    .designation-label{
        font-size: 3.5vw !important;
    }

    .masthead h1.ui.header {
        font-size: 10vw;
        margin-top: 25vh;
    }

    .mastfoot h1.ui.header {
        font-size: 1.5rem;
        margin-top: 25vh;
    }

    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }

    .h150{
        height: auto;
    }

    .h130{
        height: auto;
    }
}
